.about-us {
	background-color: #f1e4e6;
	margin-bottom: 35px;

	&__wrapper {
		position: relative;
		height: 764px;

		@media (width < 1280px) {
			height: 500px;
		}

		@media (width <=768px) {
			height: 368px;
		}

		@media (width <=620px) {
			height: 363px;
		}
	}

	&__image {
		position: absolute;
		left: -20%;

		@media (width < 1280px) {
			width: 524px;
			height: 500px;
			left: -10%;
		}

		@media (width <=768px) {
			width: 368px;
			height: 368px;
			left: 0%;
		}

		@media (width <=620px) {
			display: none;
		}
	}

	&__title {
		position: absolute;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
		left: 60%;
		line-height: 1.2;

		@media (width < 1280px) {
			left: 70%;
		}

		@media (width <=768px) {
			left: 75%;
		}

		@media (width <=620px) {
			left: 55%;
		}

		h1 {
			position: relative;
			margin: 0;
			min-width: 370px;

			@media (width <=768px) {
				min-width: 300px;
			}

			@media (width <=768px) {
				min-width: 280px;
			}
		}

		&::after {
			content: "";
			position: absolute;
			top: 2px;
			left: -28px;
			width: 12px;
			height: 92px;
			background-color: #F16D7F;
		}
	}
}

.offers {

	&__body {
		padding-block: 35px;
	}

	&__cards {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 30px;

		@media (width < 1280px) {
			gap: 20px;
		}

		&-wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: row;
			gap: 30px;

			@media (width < 1280px) {
				gap: 20px;
			}

			@media (width <768px) {
				flex-direction: column;
			}
		}
	}

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 360px;
		height: 260px;

		color: #ffffff;

		&--1 {
			background-image: url("../images/offers-1.webp");
			background-repeat: no-repeat;
		}

		&--2 {
			background-image: url("../images/offers-2.webp");
			background-repeat: no-repeat;
		}

		&--3 {
			background-image: url("../images/offers-3.webp");
			background-repeat: no-repeat;
		}

		&--1,
		&--2,
		&--3 {
			@media (width < 1280px) {
				width: 232px;
				height: 168px;
			}

			@media (width <768px) {
				width: 343px;
				height: 247px;
			}
		}

		&--full {
			width: 100%;
			height: 180px;
			background-image: url("../images/offers-4.webp");
			background-repeat: no-repeat;

			@media (width < 1280px) {
				width: 736px;
				height: 116px;
			}

			@media (width <768px) {
				width: 343px;
				height: 111px;
			}
		}
	}
}

.advantages {
	background-color: #222224;

	&__body {
		padding-block: 104px;
		margin-top: 35px;
	}

	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 30px;

		@media (width < 1280px) {
			gap: 60px;
		}
	}

	&__image {
		margin-bottom: 28px;
	}

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 360px;
		height: 134px;
	}

	&__title {
		font-weight: 400;
		font-size: 19px;
		color: #fbfbfb;
		margin-bottom: 16px;
	}

	&__description {
		font-weight: 300;
		font-size: 13px;
		color: #fbfbfb;
		text-align: center;
	}
}

.card {
	&__content {
		padding: 25px 16px 20px 16px;
		height: 161px;
		line-height: 1.25;
	}

	&__image-wrapper {
		position: relative;
		cursor: pointer;

		&:hover {
			.card__image {
				transition-duration: 0.5s;
				filter: brightness(50%);
			}

			.card__add {
				opacity: 1;
			}
		}
	}

	&__add {
		position: absolute;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
		padding: 0;
		background-color: transparent;
		border: none;
		cursor: pointer;
		color: #ffffff;
		width: 140px;
		height: 44px;
		border: 1px solid #ffffff;
		padding-left: 30px;
		opacity: 0;
		transition-duration: 0.1s;

		&::before {
			content: "";
			position: absolute;
			left: 10px;
			display: block;
			background-image: url(.././images/icons/cart.svg);
			background-position: center center;
			background-repeat: no-repeat;
			width: 26px;
			height: 24px;
		}
	}

	&__title {
		font-size: 13px;
		margin-bottom: 13px;
	}

	&__description {
		font-size: 14px;
		font-weight: 300;
		color: #5d5d5d;
		margin-bottom: 18px;
	}

	&__price {
		font-size: 16px;
	}
}

.catalog {
	height: 148px;
	background-color: #F8F3F4;

	&-header {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		&__wrapper {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			@media (width <=600px) {
				flex-direction: column;
				gap: 32px;
			}
		}

		&__left-item {
			font-weight: 400;
			font-size: 24px;
			color: #f16d7f;
		}

		&__right-item {
			font-weight: 300;
			font-size: 14px;
			color: #636363;

			& a {
				color: inherit;
				text-decoration: none;
			}

			& span {
				font-weight: 400;
				color: #f16d7f;
			}
		}
	}
}

.cart {
	&__body {
		padding: 96px 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		align-items: start;
		flex-direction: column;

		@media (width <=800px) {
			padding: 40px 0;
		}
	}

	&__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		align-items: start;
		gap: 128px;

		@media (width <=1200px) {
			flex-wrap: wrap;
			gap: 64px;
		}
	}

	&-items {
		display: flex;
		position: relative;
		flex-direction: row;
		width: 652px;
		height: 306px;

		@media (width <=800px) {
			width: 358px;
			height: 188px;
		}

		svg {
			position: absolute;
			width: 58px;
			height: 58px;
			top: 10px;
			right: 22px;
			cursor: pointer;
			padding: 20px;

			@media (width <=800px) {
				padding: 0;
				width: 18px;
				height: 18px;
				top: 20px;
			}

			path {
				fill: #575757;
			}
		}

		box-shadow: 14px 14px 10px 0 rgba(0, 0, 0, 0.1);

		&__wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			gap: 40px;
		}

		&__image {
			width: 262px;
			height: 306px;

			@media (width <=800px) {
				width: 143px;
				height: 188px;
			}
		}

		&__title {
			font-size: 24px;
			font-weight: 400;

			@media (width <=800px) {
				font-size: 16px;
			}
		}

		&__info {
			font-size: 22px;
			color: #575757;

			@media (width <=800px) {
				font-size: 14px;
			}

			p:not(.cart-items__price) span {
				color: #6F6E6E;
			}

			p span {
				color: #EF5B70;
			}

			p.cart-items__quantity span {
				font-size: 18px;
				margin-left: 24px;
				padding: 2px 10px;
				border: 1px solid #EAEAEA;

				@media (width <=800px) {
					font-size: 10px;
				}
			}
		}
	}

	&__content {
		display: flex;
		position: relative;
		justify-content: start;
		flex-direction: column;
		padding: 22px 97px 62px 31px;
		gap: 42px;

		@media (width <=800px) {
			padding: 12px 0 52px 11px;
			gap: 20px;
		}
	}

	&__buy {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 57px;

		@media (width <=1200px) {
			flex-direction: row;
			gap: 10px;
		}

		@media (width <=800px) {
			flex-direction: column;
			gap: 48px;
		}

		&-title {
			font-weight: 300;
			font-size: 16px;
			color: #222;
			margin: 17px 0 20px 0;
		}

		&-info {
			form {
				display: flex;
				justify-content: center;
				align-items: start;
				flex-direction: column;
				gap: 20px;
			}

			input {
				width: 360px;
				height: 45px;
				padding: 13px 17px 16px 17px;
				border: 1px solid #A4A4A4;
				font-size: 13px;
				color: #222;
				outline: none;
			}
		}

		&-get {
			padding: 0;
			background-color: transparent;
			border: none;
			width: 102px;
			height: 35px;
			border: 1px solid #A4A4A4;
			font-weight: 300;
			font-size: 11px;
			color: #4a4a4a;
			padding: 5px 10px;
			cursor: pointer;
			transition-duration: 0.2s;

			&:hover {
				color: #ffffff;
				background-color: #F16D7F;
			}
		}

		&-check {
			width: 360px;
			height: 214px;
			background-color: #f5f3f3;
			padding: 42px;
			gap: 39px;

			&-wrapper {
				display: flex;
				justify-content: center;
				align-items: center;
				align-items: end;
				flex-direction: column;
				gap: 12px;

				* {
					fill: #E2E2E2 !important;
				}
			}

			&-1 {
				font-size: 11px;
				color: #4a4a4a;

				span {
					margin-left: 20px;
				}
			}

			&-2 {
				font-size: 16px;
				color: #222;

				span {
					margin-left: 20px;
					font-weight: 700;
					color: #f16d7f;
				}
			}
		}

		&-submit {
			padding: 0;
			background-color: transparent;
			border: none;
			margin-top: 17px;
			width: 273px;
			height: 50px;
			background-color: #F16D7F;
			font-weight: 300;
			font-size: 16px;
			color: #fff;
			cursor: pointer;
			border: 1px solid #f16d7f;
			transition-duration: 0.2s;

			&:hover {
				background-color: transparent;
				color: #F16D7F;
				border-color: #ccc;
			}
		}
	}

	&__contclear {
		display: flex;
		gap: 186px;
		margin-top: 72px;

		@media (width <=1200px) {
			gap: 40px;
			margin-top: 62px;
		}

		@media (width <=800px) {
			flex-direction: row;
			margin-top: 0;
			gap: 10px;
		}

		button {
			padding: 0;
			background-color: transparent;
			border: none;
			padding: 10px 10px;
			width: 235px;
			height: 50px;
			font-weight: 300;
			font-size: 14px;
			color: #000;
			border: 1px solid #A4A4A4;
			cursor: pointer;
			transition-duration: 0.2s;

			@media (width <=800px) {
				width: 175px;
				height: 33px;
				font-weight: 400;
				font-size: 12px;
				color: #575757;
			}

			&:hover {
				color: #ffffff;
				background-color: #F16D7F;
			}
		}
	}
}

.menu {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100px;
	padding: 10px 18px;
	position: relative;

	&__item {

		&--spec {
			width: 100px;

			@media (width <=768px) {
				display: none;
			}
		}
	}

	@media (width <=768px) {
		height: 70px;
		padding: 10px 0;
	}

	@media (width <=600px) {
		gap: 10px;
		padding: 10px 0;
	}

	&__center {
		color: #6F6E6E;
	}

	&__left-item {
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 600;

		span {
			margin-right: 5px;

			@media (width <=600px) {
				display: none;
			}
		}

		&--left {
			justify-content: start;
			color: #EF5B70;
			margin-bottom: 16px;
		}
	}

	&__filter {
		position: relative;
		display: flex;
		align-items: start;

		&-icon {

			@media (width <=600px) {
				width: 37px;
				height: 25px;
			}
		}

		&:hover .menu__filter-dropdown {
			display: block;
		}

		&-dropdown {
			display: none;
			position: absolute;
			top: -19%;
			left: -21.5%;
			background: #fff;
			box-shadow: 6px 4px 35px 0 rgba(0, 0, 0, 0.21);
			padding: 15px;
			z-index: 100;
			width: 361px;

			@media (width <=768px) {
				left: 0%;
			}
		}
	}

	&__dropdown {

		&-title {
			display: flex;
			align-items: center;
			font-size: 14px;
			font-weight: 400;
			color: #6F6E6E;
			border-left: 5px solid #EF5B70;
			border-bottom: 1px solid #EBEBEB;
			padding-left: 10px;
			height: 47px;
			margin-bottom: 24px;

			&--active {
				color: #EF5B70;
			}
		}

		&-section {
			margin-bottom: 15px;
			cursor: pointer;

			ul {
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					font-size: 14px;
					color: #6F6E6E;
					margin-bottom: 8px;
					padding-left: 24px;
				}
			}
		}
	}

	&__center {
		display: flex;
		gap: 23px;

		.menu__item {
			position: relative;
			cursor: pointer;

			span {
				padding: 10px 20px;

				@media (width <=600px) {
					font-size: 12px;
					padding: 0 10px;
				}

				&::after {
					position: absolute;
					top: 12%;
					content: "";
					width: 10px;
					height: 5px;
					background: url(../images/icons/Vector.svg);
					margin-left: 10px;

					@media (width <=768px) {
						top: 20%;
					}

					@media (width <=600px) {
						top: 20%;
					}
				}
			}


			&:hover .menu__dropdown {
				display: block;
			}

			.menu__dropdown {
				display: none;
				position: absolute;
				top: 30%;
				left: 10%;
				background: #fff;
				box-shadow: 6px 4px 35px 0 rgba(0, 0, 0, 0.21);
				padding: 10px;
				z-index: 100;
				width: 100px;

				label {
					display: block;
					margin-bottom: 5px;
				}

				@media (width <=768px) {
					top: 50%;
				}
			}
		}
	}
}

.catalog {
	height: 148px;
	background-color: #F8F3F4;

	&-header {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		&__wrapper {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			@media (width <=600px) {
				flex-direction: column;
				gap: 32px;
			}
		}

		&__left-item {
			font-weight: 400;
			font-size: 24px;
			color: #f16d7f;
		}

		&__right-item {
			font-weight: 300;
			font-size: 14px;
			color: #636363;

			& a {
				color: inherit;
				text-decoration: none;
			}

			& span {
				font-weight: 400;
				color: #f16d7f;
			}
		}
	}
}

.catalog-items {
	&__body {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 35px;

		@media (width < 1280px) {
			padding: 16px;
		}
	}

	&__title {
		font-size: 30px;
	}

	&__description {
		font-size: 14px;
		color: #9F9F9F;
		margin-bottom: 48px;
	}

	&__cards {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 30px;
		margin-bottom: 48px;

		@media (width < 1280px) {
			gap: 16px;
		}
	}

	&__card {
		width: 360px;
		height: 581px;
		background-color: #F8F8F8;
	}

	&__button {
		padding: 0;
		background-color: transparent;
		border: none;
		cursor: pointer;
		width: 212px;
		height: 48px;
		border: 1px solid #F16D7F;
		color: #F26376;
		font-size: 16px;
		transition-duration: 0.2s;

		&:hover {
			background-color: #F26376;
			color: #ffffff;
		}

		&-catalog {
			color: #F26376;
			text-decoration: none;
		}

		&-page {
			font-weight: 300;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 10px;
			border: 1px solid #e0e0e0;
			border-radius: 5px;
			background-color: #fff;

			.arrow,
			.page,
			.dots {
				margin: 0 5px;
				font-size: 18px;
				color: #b0b0b0;
				cursor: pointer;
				user-select: none;

				&.active {
					color: #ff4d4d;
				}
			}

			.arrow {
				font-weight: bold;
				color: #000;
			}
		}
	}
}

.feedback {
	background-image: url('./../images/form-bg.webp');
	background-size: cover;

	@media (width <=1600px) {
		background-image: url('./../images/form-bg-1600.webp');
	}

	@media (width <=1280px) {
		background-position: -200px;
	}

	@media (width <=768px) {
		background-position: -500px;
	}

	&__body {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 448px;
		gap: 300px;

		@media (width < 1280px) {
			flex-direction: column;
			height: 614px;
			gap: 48px;
		}
	}

	&__review {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 30px;
		width: 360px;
	}

	&__message {
		font-style: italic;
		font-size: 20px;
		text-align: center;
		color: #222224;

		@media (width <=768px) {
			font-size: 18px;
		}
	}

	&__form {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	&__title {
		font-weight: 700;
		font-size: 24px;
		line-height: 1.67;
		text-align: center;
		color: #222224;
	}

	&__description {
		font-size: 18px;
		line-height: 1.67;
		text-align: center;
		color: #222224;
		margin-bottom: 32px;

		@media (width <=768px) {
			font-size: 14px;
		}
	}
}

.form {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	font-size: 14px;

	&__input {
		outline: none;
		border: none;
		width: 256px;
		height: 49px;
		border-top-left-radius: 24px;
		border-bottom-left-radius: 24px;
		background-color: #E1E1E1;
		padding: 7px 22px;

		&--error {
			box-shadow: inset 0 0 10px 0 rgba(255, 0, 0, 0.5);
		}

		@media (width <=768px) {
			width: 245px;
		}
	}

	&__button {
		padding: 0;
		background-color: transparent;
		border: none;
		width: 100px;
		height: 49px;
		border-top-right-radius: 24px;
		border-bottom-right-radius: 24px;
		background-color: #F16D7F;
		padding: 7px 22px;
		color: #ffffff;
		font-weight: 400;
		text-align: center;
		cursor: pointer;

		@media (width <=768px) {
			width: 90px;
			padding-left: 18px;
		}
	}
}

.text {
	font-size: 32px;

	&--big {
		font-size: 48px;
		font-weight: 900;

		@media (width <=768px) {
			font-size: 44px;
		}
	}

	&--pink {
		color: #F16D7F;
	}

	&--lg {
		font-size: 32px;

		@media (width <=768px) {
			font-size: 24px;
		}
	}

	&--bold {
		font-weight: 700;
	}
}